<p-panel class="mb-4" #pnl>
  <ng-template #header>
    <h4 class="bold">Post Categoris List</h4>
  </ng-template>
  <ng-template #content class="p-0">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems" [metaKeySelection]="true" class="m-0">
      <ng-template #caption>
        <div class="row">
          <div class="col">
            <button pButton appPermission appPolicy="Permissons.PostCategories.Create" (click)="showAddModal()" class="p-button-sm p-button-success me-2" [outlined]="true" icon="pi pi-plus" cTooltip="Create new Post Category"></button>
            <button pButton appPermission appPolicy="Permissons.PostCategories.Delete" (click)="deleteItems()" class="p-button-sm p-button-danger me-2" [outlined]="true" icon="pi pi-trash" cTooltip="Delete Post Categories" *ngIf="selectedItems.length > 0"></button>
            <button pButton appPermission appPolicy="Permissons.PostCategories.Edit" (click)="showEditModal()" class="p-button-sm p-button-info me-2" [outlined]="true" icon="pi pi-pencil" cTooltip="Update Post Category" *ngIf="selectedItems.length == 1" ></button>
          </div>
          <div class="col col-4">
            <p-inputGroup>
              <input type="text" pInputText (keyup.enter)="loadDatas()" [(ngModel)]="keyword" placeholder="Keyword" class=""/>
              <button pButton (click)="loadDatas()" class="p-button-sm" severity="secondary" [outlined]="true" icon="pi pi-search"></button>
            </p-inputGroup>
          </div>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width: 3em"><p-tableHeaderCheckbox/></th>
          <th>Name</th>
          <th>Sort Order</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
          <td>{{item.name}}</td>
          <td>{{item.sortOrder}}</td>
          <td>
            <p-badge *ngIf="item.isActive == 1" value="Active" severity="success"/>
            <p-badge *ngIf="item.isActive == 0" value="Lock" severity="danger"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>

  <ng-template #footer>
    <div class="row">
      <div class="col">Total Records: {{totalRecords}}</div>
      <div class="col">
        <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)" [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
      </div>
    </div>
  </ng-template>

  <p-blockUI [target]="pnl" [blocked]="isBlockUI">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px', position: 'absolute', top: '25%', left: '50%' }" />
  </p-blockUI>
</p-panel>
