@{
    ViewData["Title"] = "Change Password";
    ViewData["Description"] = "Change your password";
}
@model ChangePasswordViewModel

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Change Password</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form asp-controller="Profile" asp-action="ChangePassword" method="post" class="row g-12 pr-10">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                
                <div class="col-md-6">
                    <label for="oldPassword" class="form-label">Old password</label>
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" id="oldPassword" asp-for="OldPassword" required>
                        <span id="validationOldPassword" asp-validation-for="OldPassword" class="invalid-feedback"></span>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <label for="newPassword" class="form-label">New password</label>
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" id="newPassword" asp-for="NewPassword" required>
                        <span id="validationNewPassword" asp-validation-for="NewPassword" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="comfirmNewPassword" class="form-label">Comfirm new password</label>
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" id="comfirmNewPassword" asp-for="ComfirmNewPassword" required>
                        <span id="validationComfirmNewPassword" asp-validation-for="ComfirmNewPassword" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-12 my-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>