<p-panel class="mb-4" #pnl>
  <ng-template #header>
    <h4 class="bold">Post List</h4>
  </ng-template>
  <ng-template #content class="p-0">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems" [metaKeySelection]="true" class="m-0">
      <ng-template #caption>
        <div class="row">
          <div class="col-5">
            <button pButton appPermission appPolicy="Permissons.Posts.Create" (click)="showAddModal()" class="p-button-sm p-button-success me-2" [outlined]="true" icon="pi pi-plus" cTooltip="Create new Post"></button>
            <button pButton appPermission appPolicy="Permissons.Posts.Delete" (click)="deleteItems()" class="p-button-sm p-button-danger me-2" [outlined]="true" icon="pi pi-trash" cTooltip="Delete Post" *ngIf="selectedItems.length > 0"></button>
            <button pButton appPermission appPolicy="Permissons.Posts.Edit" (click)="showEditModal()" class="p-button-sm p-button-info me-2" [outlined]="true" icon="pi pi-pencil" cTooltip="Update Post" *ngIf="selectedItems.length == 1" ></button>
          </div>
          <div class="col-3">
            <p-select [options]="postCategories" (onChange)="loadDatas()" [(ngModel)]="categoryId" placeholder="Select Category" [showClear]="true" [checkmark]="true"
                [editable]="true" optionValue="value" optionLabel="label" class="w-10"/>
          </div>
          <div class="col col-4">
            <p-inputgroup class="w-100">
              <input type="text" pInputText (keyup.enter)="loadDatas()" [(ngModel)]="keyword" placeholder="Keyword" class=""/>
              <button pButton (click)="loadDatas()" class="p-button-sm" severity="secondary" [outlined]="true" icon="pi pi-search"></button>
            </p-inputgroup>
          </div>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width: 3em"><p-tableHeaderCheckbox/></th>
          <th>Title</th>
          <th>Category</th>
          <th>View Count</th>
          <th>Created Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
          <td>{{item.title}}</td>
          <td>{{item.categoryName}}</td>
          <td>{{item.viewCount | number}}</td>
          <td>{{item.dateCreated | date : 'dd-MM-yyyy hh:mm'}}</td>
          <td>
            <p-badge *ngIf="item.status == 1" value="Draft" severity="secondary"/>
            <p-badge *ngIf="item.status == 2" value="Waiting Approval" severity="info"/>
            <p-badge *ngIf="item.status == 3" value="Rejected" severity="danger"/>
            <p-badge *ngIf="item.status == 4" value="Published" severity="success"/>
          </td>
          <td>
            <button pButton appPermission appPolicy="Permissons.Posts.Edit" (click)="addToSeries(item.id, item.title)" class="p-button-sm p-button-info me-2" [outlined]="true" icon="pi pi-plus" cTooltip="Add To Series"></button>
            <button *ngIf="item.status == 2" pButton appPermission appPolicy="Permissons.Posts.Approve" (click)="approve(item.id)" class="p-button-sm p-button-success me-2" [outlined]="true" icon="pi pi-check" cTooltip="Publish"></button>
            <button *ngIf="item.status == 1" pButton appPermission appPolicy="Permissons.Posts.Edit" (click)="sendForApproval(item.id)" class="p-button-sm p-button-help me-2" [outlined]="true" icon="pi pi-forward" cTooltip="Send to Approval"></button>
            <button *ngIf="item.status == 2" pButton appPermission appPolicy="Permissons.Posts.Approve" (click)="reject(item.id, item.title)" class="p-button-sm p-button-danger me-2" [outlined]="true" icon="pi pi-times" cTooltip="Reject"></button>
            <button *ngIf="item.status == 3 || item.status == 4" pButton appPermission appPolicy="Permissons.Posts.Approve" (click)="backToDraft(item.id)" class="p-button-sm p-button-secondary me-2" [outlined]="true" icon="pi pi-undo" cTooltip="Back to Draft"></button>
            <button pButton appPermission appPolicy="Permissons.Posts.View" (click)="showLogs(item.id, item.title)" class="p-button-sm p-button-help me-2" [outlined]="true" icon="pi pi-history" cTooltip="Show status logs"></button>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>

  <ng-template #footer>
    <div class="row">
      <div class="col">Total Records: {{totalRecords}}</div>
      <div class="col">
        <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)" [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
      </div>
    </div>
  </ng-template>

  <p-blockUI [target]="pnl" [blocked]="isBlockUI">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px', position: 'absolute', top: '25%', left: '50%' }" />
  </p-blockUI>
</p-panel>
