<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="saveChange()">
    <p-panel #pnlDetail header="Information" showHeader="false" [toggleable]="false" [collapsed]="false">
        <div class="formgrid grid">
            <div class="row mb-3">
                <div class="field col-6">
                    <label for="title">Title <span class="required">*</span></label>
                    <input id="title" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="title" (keyup)="generateSlug()"
                        [style]="{ width: '100%' }" />
                    <app-validation-message [entityForm]="form" fieldName="title"
                        [validationMessages]="validationMessages">
                    </app-validation-message>
                </div>
                <div class="field col-6">
                    <label for="slug" class="block">Slug <span class="required">*</span></label>
                    <input id="slug" type="text" pInputText formControlName="slug" [style]="{ width: '100%' }" />
                    <app-validation-message [entityForm]="form" fieldName="slug"
                        [validationMessages]="validationMessages">
                    </app-validation-message>
                </div>
            </div>
            <div class="row mb-3">
                <div class="field col-6">
                    <label for="categoryId" class="block">Category <span class="required">*</span></label>
                    <p-select [options]="postCategories" formControlName="categoryId"
                     placeholder="Select Category" [editable]="true" optionValue="value" [showClear]="true" [checkmark]="true"
                     optionLabel="label" class="w-full" [style]="{ width: '100%' }"/>
                     <app-validation-message [entityForm]="form" fieldName="categoryId"
                        [validationMessages]="validationMessages">
                    </app-validation-message>
                </div>
                <div class="field-checkbox col-6">
                    <label for="source" class="block">Source</label>
                    <input id="source" type="text" pInputText formControlName="source" [style]="{ width: '100%' }" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="field col-6">
                    <label for="description">Description</label>
                    <textarea pTextarea formControlName="description" placeholder="Normal" rows="3" [pKeyFilter]="noSpecial" [style]="{ width: '100%' }" ></textarea>
                    <app-validation-message [entityForm]="form" fieldName="description"
                        [validationMessages]="validationMessages">
                    </app-validation-message>
                </div>
                <div class="field col-6">
                    <label for="thumbnailFileContent">Thumbnail</label>
                    <input *ngIf="canImportImage" (change)="onFileChange($event)" type="file" class="w-full" />
                    <p-image [src]="thumbnailImage" [preview]="true" width="250"></p-image>
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="field col-12">
                    <label for="content">Content</label>
                    <p-editor formControlName="content" [pKeyFilter]="noSpecial" [style]="{ width: '100%', height: '320px' }" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="field col-12">
                    <label for="seoDescription">SEO Description</label>
                    <textarea pTextarea formControlName="seoDescription" placeholder="Normal" rows="3" [pKeyFilter]="noSpecial" [style]="{ width: '100%' }" ></textarea>
                    <app-validation-message [entityForm]="form" fieldName="seoDescription"
                        [validationMessages]="validationMessages">
                    </app-validation-message>
                </div>
            </div>

        </div>
        <ng-template #footer>
            <div class="flex justify-content-end">
                <button type="submit" pButton [disabled]="!form.valid || btnDisabled" [outlined]="true" icon="pi pi-save"></button>
            </div>
        </ng-template>

        <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px', position: 'absolute', top: '25%', left: '50%' }"/>
        </p-blockUI>
    </p-panel>
</form>