<p-panel #pnlDetail header="Information" showHeader="false" [toggleable]="true" [collapsed]="false">
  <p-pickList
    [source]="availableRoles"
    [target]="seletedRoles"
    sourceHeader="Available Roles"
    targetHeader="The Roles already"
    [dragdrop]="true"
    [responsive]="true"
  >
    <ng-template let-role #item>
      <div>
        {{ role }}
      </div>
    </ng-template>
  </p-pickList>
  <ng-template #footer>
    <div class="flex justify-content-end">
        <button type="button" (click)="saveChange()" pButton [disabled]="btnDisabled" [outlined]="true" icon="pi pi-save"></button>
    </div>
  </ng-template>

  <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px', position: 'absolute', top: '25%', left: '50%' }"/>
  </p-blockUI>
</p-panel>
