/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

// Bootstrap
@import "bootstrap/dist/css/bootstrap.min.css";

// PrimeNG
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";


@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter-roman/Inter-roman.var.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif !important;
}

button.p-button {
  border-radius: 15% !important;
}

.flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.required {
  color: red;
}